In [3]:
import pandas as pd
import numpy as np
from operator import methodcaller

In [4]:
train = pd.read_csv('/home/jb4076/music/training.csv')
test = pd.read_csv('/home/jb4076/music/testing.csv')
members = pd.read_csv('/home/jb4076/music/members.csv')
repeat = train[train.target == 1]

In [5]:
genre_l = pd.DataFrame(train.groupby('msno').genre_ids.unique())
genre_r = pd.DataFrame(repeat.groupby('msno').genre_ids.unique())

In [6]:
genre_l.columns = ['unique_genre']
genre_r.columns = ['unique_genre']
display(genre_l.head())
display(genre_r.head())

                                                                                   unique_genre
msno
++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=  [465, 474, 458, 2022, 1259, 359, 451, 465|1259...
++AH7m/EQ4iKe6wSlfO/xXAJx50p+fCeTyF90GoE9Pg=  [1616, 465, 458, 359, 921, 465|458, 1259, 1609...
++e+jsxuQ8UEnmW40od9Rq3rW7+wAum4wooXyZTKJpk=  [465, 458, 465|2022, 465|1259, 921, 921|465, 9...
++xWL5Pbi2CpG4uUugigQahauM0J/sBIRloTNPBybIU=                                         [458, 465]
+/SKX44s4ryWQzYzuV7ZKMXqIKQMN1cPz3M8CJ8CFKU=  [465, 437, 921, 1616|1609, 458, 359, 1259, 160...

                                                                                   unique_genre
msno
++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=  [465, 359, 458, 465|1259, 1609, 1259, 139, 161...
++AH7m/EQ4iKe6wSlfO/xXAJx50p+fCeTyF90GoE9Pg=  [1616, 465, 458, 921, 1609, 465|458, 1180, 465...
++e+jsxuQ8UEnmW40od9Rq3rW7+wAum4wooXyZTKJpk=   [465, 458, 465|2022, 921, 921|465, 921|458, 829]
++xWL5Pbi2CpG4uUugigQahauM0J/sBIRloTNPBybIU=                                              [458]
+/SKX44s4ryWQzYzuV7ZKMXqIKQMN1cPz3M8CJ8CFKU=  [465, 1616|1609, 359, 458, 1259, 921, 1609, 92...

In [7]:
genre_list_l = np.array(genre_l.unique_genre)
genre_list_r = np.array(genre_r.unique_genre)
print(genre_list_l[0:3])
print(genre_list_r[0:3])

[array(['465', '474', '458', '2022', '1259', '359', '451', '465|1259',
       '1609', '1616|1609', '1616', '139', '921', '921|458', '1180'],
      dtype=object)
 array(['1616', '465', '458', '359', '921', '465|458', '1259', '1609',
       '1180', '465|430', '444', '465|1259', '1011', '1616|1609',
       '921|465'], dtype=object)
 array(['465', '458', '465|2022', '465|1259', '921', '921|465', '921|458',
       '829'], dtype=object)]
[array(['465', '359', '458', '465|1259', '1609', '1259', '139',
       '1616|1609', '474', '451', '921', '2022'], dtype=object)
 array(['1616', '465', '458', '921', '1609', '465|458', '1180', '465|430',
       '444', '465|1259', '1011', '1616|1609', '359', '1259'],
      dtype=object)
 array(['465', '458', '465|2022', '921', '921|465', '921|458', '829'],
      dtype=object)]

In [8]:
genre_listen_num = []
genre_repeat_num = []

for i in range(genre_l.shape[0]):
    genre_record_l = []
    for x in genre_list_l[i]:
        genre_record_l.extend(x.split('|'))
        a = len(genre_record_l)
    genre_listen_num.append(a)
    
for i in range(genre_r.shape[0]):
    genre_record_r = []
    for y in genre_list_r[i]:
        genre_record_r.extend(y.split('|'))
        b = len(genre_record_r)
    genre_repeat_num.append(b)

In [10]:
print(genre_listen_num[0:20])
print(genre_repeat_num[0:20])

[18, 20, 12, 2, 21, 4, 26, 1, 4, 3, 35, 26, 9, 12, 1, 39, 6, 7, 13, 44]
[14, 18, 10, 1, 15, 23, 1, 1, 2, 15, 9, 6, 12, 1, 17, 4, 5, 9, 31, 13]

In [11]:
genre_l['genre_listen_num'] = genre_listen_num
genre_r['genre_repeat_num'] = genre_repeat_num

In [17]:
genre_l['msno'] = genre_l.index
genre_l.head()

,unique_genre,genre_listen_num,msno
msno,,,
++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,"[465, 474, 458, 2022, 1259, 359, 451, 465|1259...",18,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=
++AH7m/EQ4iKe6wSlfO/xXAJx50p+fCeTyF90GoE9Pg=,"[1616, 465, 458, 359, 921, 465|458, 1259, 1609...",20,++AH7m/EQ4iKe6wSlfO/xXAJx50p+fCeTyF90GoE9Pg=
++e+jsxuQ8UEnmW40od9Rq3rW7+wAum4wooXyZTKJpk=,"[465, 458, 465|2022, 465|1259, 921, 921|465, 9...",12,++e+jsxuQ8UEnmW40od9Rq3rW7+wAum4wooXyZTKJpk=
++xWL5Pbi2CpG4uUugigQahauM0J/sBIRloTNPBybIU=,"[458, 465]",2,++xWL5Pbi2CpG4uUugigQahauM0J/sBIRloTNPBybIU=
+/SKX44s4ryWQzYzuV7ZKMXqIKQMN1cPz3M8CJ8CFKU=,"[465, 437, 921, 1616|1609, 458, 359, 1259, 160...",21,+/SKX44s4ryWQzYzuV7ZKMXqIKQMN1cPz3M8CJ8CFKU=

In [18]:
genre_r['msno'] = genre_r.index
genre_r.head()

,unique_genre,genre_repeat_num,msno
msno,,,
++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,"[465, 359, 458, 465|1259, 1609, 1259, 139, 161...",14,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=
++AH7m/EQ4iKe6wSlfO/xXAJx50p+fCeTyF90GoE9Pg=,"[1616, 465, 458, 921, 1609, 465|458, 1180, 465...",18,++AH7m/EQ4iKe6wSlfO/xXAJx50p+fCeTyF90GoE9Pg=
++e+jsxuQ8UEnmW40od9Rq3rW7+wAum4wooXyZTKJpk=,"[465, 458, 465|2022, 921, 921|465, 921|458, 829]",10,++e+jsxuQ8UEnmW40od9Rq3rW7+wAum4wooXyZTKJpk=
++xWL5Pbi2CpG4uUugigQahauM0J/sBIRloTNPBybIU=,[458],1,++xWL5Pbi2CpG4uUugigQahauM0J/sBIRloTNPBybIU=
+/SKX44s4ryWQzYzuV7ZKMXqIKQMN1cPz3M8CJ8CFKU=,"[465, 1616|1609, 359, 458, 1259, 921, 1609, 92...",15,+/SKX44s4ryWQzYzuV7ZKMXqIKQMN1cPz3M8CJ8CFKU=

In [21]:
genre_count_df = genre_l.merge(genre_r[['msno','genre_repeat_num']], on = 'msno')\
                    .drop(['unique_genre'], axis = 1)

In [23]:
genre_count_df = genre_count_df[['msno','genre_listen_num','genre_repeat_num']]
genre_count_df.head()

,msno,genre_listen_num,genre_repeat_num
0,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,18,14
1,++AH7m/EQ4iKe6wSlfO/xXAJx50p+fCeTyF90GoE9Pg=,20,18
2,++e+jsxuQ8UEnmW40od9Rq3rW7+wAum4wooXyZTKJpk=,12,10
3,++xWL5Pbi2CpG4uUugigQahauM0J/sBIRloTNPBybIU=,2,1
4,+/SKX44s4ryWQzYzuV7ZKMXqIKQMN1cPz3M8CJ8CFKU=,21,15

In [24]:
# genre_count_df.to_csv('./genre_count_feature.csv')

In [28]:
song_l = pd.DataFrame(train.groupby('msno').song_id.unique())
song_r = pd.DataFrame(repeat.groupby('msno').song_id.unique())
song_l.columns = ['unique_song']
song_r.columns = ['unique_song']
display(song_l.head())
display(song_r.head())

                                                                                    unique_song
msno
++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=  [XMO3FDONv4koQae5yFWAIsgDURrnTru/LnmV2Rgs6/g=,...
++AH7m/EQ4iKe6wSlfO/xXAJx50p+fCeTyF90GoE9Pg=  [i356q8t0P9emMJq8PsFkY6CGoi34mP3cgXuDpfEDyhY=,...
++e+jsxuQ8UEnmW40od9Rq3rW7+wAum4wooXyZTKJpk=  [Q65wUesNx5Toh+9Htmtf3Z4j7xBY93f9QPHsANJxr3Q=,...
++xWL5Pbi2CpG4uUugigQahauM0J/sBIRloTNPBybIU=  [H9SPhwq9W0h/3XECeWOjmDRiVN7V5bxTLFlOqWDcqrI=,...
+/SKX44s4ryWQzYzuV7ZKMXqIKQMN1cPz3M8CJ8CFKU=  [+h+uIXLQyXHuCdwAY5oT3T302vt0IdQJtux0APXhriw=,...

                                                                                    unique_song
msno
++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=  [G2tlzVuAJ6qoRwfDhvCsR6jMY7HW90oM61e7xDstJhI=,...
++AH7m/EQ4iKe6wSlfO/xXAJx50p+fCeTyF90GoE9Pg=  [i356q8t0P9emMJq8PsFkY6CGoi34mP3cgXuDpfEDyhY=,...
++e+jsxuQ8UEnmW40od9Rq3rW7+wAum4wooXyZTKJpk=  [Q65wUesNx5Toh+9Htmtf3Z4j7xBY93f9QPHsANJxr3Q=,...
++xWL5Pbi2CpG4uUugigQahauM0J/sBIRloTNPBybIU=     [ED0r/aTepU2vXuPolSKoLObTpKsA8P9y8TOLER1Ao8M=]
+/SKX44s4ryWQzYzuV7ZKMXqIKQMN1cPz3M8CJ8CFKU=  [+h+uIXLQyXHuCdwAY5oT3T302vt0IdQJtux0APXhriw=,...

In [38]:
song_list_l = np.array(song_l.unique_song)
song_list_r = np.array(song_r.unique_song)

song_listen_num = []
song_repeat_num = []

for i in range(song_l.shape[0]):
    song_record_l = []
    song_listen_num.append(len(song_l.unique_song[i]))
    
for i in range(song_r.shape[0]):
    song_record_r = []
    song_repeat_num.append(len(song_r.unique_song[i]))

print(song_listen_num[0:20])
print(song_repeat_num[0:20])

[414, 151, 76, 8, 141, 3, 129, 3, 15, 63, 504, 319, 58, 177, 4, 307, 32, 55, 62, 252]
[203, 94, 57, 1, 53, 64, 2, 1, 35, 227, 82, 16, 166, 1, 109, 10, 20, 53, 177, 84]

In [39]:
song_l['song_listen_num'] = song_listen_num
song_r['song_repeat_num'] = song_repeat_num

song_l['msno'] = song_l.index
song_r['msno'] = song_r.index

song_count_df = song_l.merge(song_r[['msno','song_repeat_num']], on = 'msno')\
                    .drop(['unique_song'], axis = 1)
    
song_count_df = song_count_df[['msno','song_listen_num','song_repeat_num']]

In [40]:
# song_count_df.to_csv('./song_count_feature.csv')